TELEGRAM_TOKEN=
CHAT_ID=
GOOGLE_CREDENTIALS=
GOOGLE_CREDENTIALS_FILE=
CALENDAR_ID=ederbarreto41@gmail.com
TIMEZONE=America/Sao_Paulo
SHEET_ID=1tFh8Ly0dcCv4fhPdVyXleAWR2yRGgXEjl9vHU2GqDwo
SHEET_NAME=Controle Financeiro
TELEGRAM_OFFSET_FILE=.telegram_offset
