TELEGRAM_TOKEN=
CHAT_ID=
GOOGLE_CREDENTIALS=
GOOGLE_CREDENTIALS_FILE=
CALENDAR_ID=seu_email@gmail.com
TIMEZONE=America/Sao_Paulo
SHEET_ID=
SHEET_NAME=Controle Financeiro
TELEGRAM_OFFSET_FILE=.telegram_offset
